.container {
    width: 1400px;
    height: 650px;
}

.app-color-blue-1 {
    color: #346EE1;
}

.app-color-blue-3 {
    color: #A0B4D6;
}

.app-color-black {
    color: #3E4350;
}

.app-color-gray-1 {
    color: #949AA7;
}

.app-color-red {
    color: #949AA7;
}

.app-bg-blue-1 {
    background: #346EE1;
}

.app-bg-blue-2{
    background: #F5F9FC;
}

.app-button-shadow {
    box-shadow: 0px 5px 10px 0px rgb(145 167 210 / 25%);
}

.app-bg-blue-3 {
    background: #4A7AE5;
}

.app-bg-blue-4 {
    background: #518AEA;
}

.app-bg-white-1 {
    background: #F4F8F9;
}
/* .app_bg-white-2{
    width: 1400px;
    height: 650px;
    background: #F4F8F9;

} */
.app-color-yellow-1 {
    color: #D7AC67;
}

.app-bg-yellow-2 {
    background: #FFF9EB;
}

.app-bg-yellow-3 {
    background: #FFBE4E;
}

.app-border-1 {
    border: 1px solid #F4F6F9;
}

.app-color-red-1 {
    color: #E0899C;
}

.app-bg-red-2 {
    background: #FEF5F6;
}

.app-color-green {
    color: #0CBDA8;
}

.active {
    position: relative;
    box-shadow: 6px -6px 11px 0 rgb(0 0 0 / 8%);
}

.active::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 55%;
    background-color: #346EE1;
    top: 20px;
    left: 0;
}
.sidebar {
    display: flex;
    flex-direction: column;
    /* height: 200%; 
    width: 10%;  */
 
    margin-left: 10px;
    position: relative;
    /* top: 8px; */
    height: 100vw;
    width: 188px;
    margin-top: 5px;
 
}
.table1{
display: flex;
}
.table{
    width: 65%;
    height: 80%;
    margin-left: 500px;
    /* margin-top: 60px; */
}
.input{
    border: 2px solid #ccc;
    /* Add padding to the input box */
    /* padding: 8px; */
    /* Adjust other styles as needed */
    width: 200px;
    font-size: 16px;
    /* Optional: Add rounded corners */
    border-radius: 4px;
    padding-left: 5px;
}
form{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}
form p{
font-size: 40px;
/* font-style: italic; */
font-weight: bold;
}
input[type="submit"] {
    width: 150px; /* Adjust the width as needed */
    padding: 10px; /* Add padding for better appearance */
    background-color:  #949AA7; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor on hover */
}

/* Change the background color on hover */
input[type="submit"]:hover {
    background-color: #949AA7 ;
}
